html, body {
    background-color: #ff577f;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;
}

.player {
    stroke-width: 0.1;
    fill: url(#player)
}

.playerBG {
    stroke: none;
    fill: #ffc764;
}
.playerLine {
    stroke-width: 0.1;
    stroke: #ff577f;
    fill: none;
}

.wall {
    stroke-width: 0.1;
    fill: url(#brick);
}

.boxActive {
    fill: url(#boxActive);
}

.boxInactive {
    fill: url(#boxInactive);
}
.boxActiveColour {
    fill: #cdfffc;
}
.boxInactiveColour {
    fill: #ffc764;
}
.boxLine {
    stroke-width: 0.05;
    fill: none;
    stroke: #ff577f;
}
.target {
    stroke: none;
    fill: url(#target);
}
.targetLine {
    stroke-width: 0.05;
    stroke: #cdfffc;
    fill: none;
}

.brickLine {
    stroke-width: 0.1;
    stroke: #cdfffc;
}
.entity {
    transition: transform 100ms linear;
}

.victory {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 3em;
  background-color: #ff884b;
  color: #cdfffc;
  text-align: center;
}

.victory button {
    color: #ff884b;
    background-color: #cdfffc;
    font-weight: bold;
    border: none;
    border-radius: 1.5em;
    padding: 1em;
    margin: 2em;
}

.game .grid svg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Sriracha', cursive;
}

.menu h1 {
    text-align: center;
}

.menucontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: space-around;
}

.menuitem {
    width: 450px;
    margin: 2em;
    padding: 2em;
    text-align: center;
    background-color: #ff577f;
}

.menuitem.nowin{
    border: #ff884b 3px solid;
    color: #ffc764;
}
.menuitem.won{
    -background-color: #88dd4b;
    color: #cdfffc;
    border: #cdfffc 3px solid;
}
.menuitem h2 {
    text-shadow: 1px 2px #000000;
}

.menuitem svg {
    background-color: #ff577f;
    width: 80%;
}

.gamecontrols {
    position: fixed;
    top: 0;
    left: 0;
}

.gamecontrols button{
    width: 5em;
    height: 5em;
    -width: 200px;
    -height: 200px;
    color: #ff577f;
    background-color: #cdfffc;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    margin: 0em;
    position: relative;
}
.buttonFill {
    fill: #ff577f;
}
.buttonEdge {
    fill: none;
    stroke: #ff577f;
    stroke-width:20
}

.gamecontrols button {
    margin:1px;
}
.gamecontrols button:hover span{
    color: rgba(0,0, 0, 0);
    transition: 0.25s;
}
.gamecontrols button svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0
}

.gamecontrols button rect.exitRect {
    height: 0;
}

.gamecontrols button:hover rect.exitRect {
    height: 45px;
    transition: 0.5s;
}

.gamecontrols button circle.resetCircle {
  stroke-dasharray: 188.5 /* 30*2 *pi */;
  stroke-dashoffset: 188.5;
}

.gamecontrols button:hover circle.resetCircle {
    stroke-dashoffset: 47;
    transition: 0.5s
}

.gamecontrols button g.resetArrowParent {
    transform: rotate(-270deg);
    transform-origin: 50px 50px;
}

.gamecontrols button:hover g.resetArrowParent {
    transform: rotate(0deg);
    transition: 0.5s;
}
.gamecontrols button path.resetArrow {
    transform: scale(0);
    transform-origin: 50px 20px;
}
.gamecontrols button:hover path.resetArrow {
    transform: scale(1);
    transition: 0.25s;
}

.gamecontrols button rect.undoLine {
    x: 90px;
    width: 0;
}

.gamecontrols button:hover rect.undoLine {
    x: 20px;
    width: 70px;
    transition: 0.3s;
}

.gamecontrols button rect.undoArrow {
    width: 0;
}

.gamecontrols button:hover rect.undoArrow {
    width: 50px;
    transition: 0.2s;
    transition-delay: 0.3s;
}

.gamecontrols button:hover path.resetArrow {
    transform: scale(1);
    transition: 0.25s;
}


.gamecontrols button:first-letter 
{
  text-decoration:underline;
}